{%- assign locale_selector = false -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- assign form_id = 'localization_form_' | append: input_prefix -%}
{%- form 'localization', id: form_id, class: 'selectors-form' -%}
  {%- if locale_selector -%}
    <div class="selectors-form__item">
      <h2 class="visually-hidden" id="lang-heading-{{ input_prefix }}">
        {{ 'general.language.dropdown_label' | t }}
      </h2>

      <div class="disclosure" data-disclosure-locale>
        <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list-{{ input_prefix }}" aria-describedby="lang-heading-{{ input_prefix }}" data-disclosure-toggle>
          {{ form.current_locale.endonym_name }}
          <span class="disclosure__toggle-arrow" role="presentation">{% render 'svg-chevron-down' %}</span>
        </button>
        <ul id="lang-list-{{ input_prefix }}" class="disclosure-list" data-disclosure-list>
          {% for locale in form.available_locales %}
            <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
              <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                {{ locale.endonym_name }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
        <input type="hidden" name="locale_code" id="LocaleSelector-{{ input_prefix }}" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
      </div>
    </div>
  {%- endif -%}

{%- endform -%}
