{%- capture url -%}{% if collection %}{{ product.url | within: collection }}{% else %}{{ product.url }}{% endif %}{%- endcapture -%}

{%- liquid
  unless max_cols
    assign max_cols = section.settings.products_per_row | default: 4
  endunless

  unless min_cols
    assign min_cols = section.settings.mobile_products_per_row | default: 2
  endunless

  if settings.prod_thumb_shape == 'natural'
    assign aspect_ratio = false
  else
    assign aspect_ratio = settings.prod_thumb_shape | times: 1.0
  endif

  if settings.prod_quick_buy_show and settings.prod_quick_buy_type == 'in-page'
    assign show_quickbuy = true
  else
    assign show_quickbuy = false
  endif

  unless show_vendor
    assign show_vendor = section.settings.grid_show_vendor
  endunless

  assign primary_image = product.featured_media.preview_image
  assign secondary_image = product.media[1].preview_image

  assign cheapest_variant = product.variants | sort: 'price' | first
-%}

<div class="product-block
    layout-align-{{ settings.prod_block_layout }}
    {% if settings.label_soldout_show and product.available == false %}sold-out {% endif %}{{ product-block | default: 'flex column' }}
    max-cols-{{ max_cols }}
    min-cols-{{ min_cols }}
    product-block--gutter-{{ settings.prod_thumb_gutter }}
    product-block--gap-{{ settings.prod_thumb_gap }}
    product-block--border-{{ settings.prod_thumb_show_border }}
    {% if is_last %}product-block--last{% endif %}
    {% unless settings.prod_quick_buy_show and settings.prod_quick_buy_type == 'in-page' %}
      product-block--no-quickbuy
   {% endunless %}
   {% if show_quickbuy and product.variants.size > 1 and product.available == true %}product-block--with-quickbuy{% endif %}
  "
  id="{{ section.id }}_{{ product.id }}">
  <div class="product-block__inner">
    <div class="image image--shape-{{ settings.prod_thumb_shape }} {% if settings.product_grid_hover_image and product.media.size > 1 %}image--with-secondary{% endif %}">
      <div class="inner">
        <a href="{{ url }}" aria-label="{{ product.title | escape }}">
          <div class="image__primary">
            {% render 'responsive-image', image: primary_image, aspect_ratio: aspect_ratio %}
          </div>
          {% if settings.product_grid_hover_image and product.media.size > 1 %}
            {% assign img_url = secondary_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <div class="image__secondary">
              <div class="rimage-outer-wrapper rimage-background" data-lazy-bg="{{ img_url }}" data-parent-fit="{% if settings.prod_quick_buy_type == "hover" and settings.prod_quick_buy_pos == "bottomcorner" %}cover{% else %}contain{% endif %}">
                <noscript>
                  <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: secondary_image.aspect_ratio | times: 100 }}%">
                    <img src="{{ secondary_image | img_url: '1024x1024' }}" alt="{{ secondary_image.alt | escape }}" class="rimage__image">
                  </div>
                </noscript>
              </div>
            </div>
          {% endif %}
        </a>

        {% if settings.prod_quick_buy_show and settings.prod_quick_buy_type == 'hover' %}
            <a class="quick-buy round-button pos-{{ settings.prod_quick_buy_pos }}" href="{{ url }}" data-product-id="{{ product.id }}">
              <span aria-label="{{ 'products.quick_buy.launch' | t | escape }}">
                {% render 'svg-search' %}
              </span>
            </a>

          {% render 'quick-buy-placeholder', product: product %}
        {% endif %}
      </div>
      {% render 'product-label', product: product, cheapest_variant: cheapest_variant %}
    </div>

    {%- if settings.product_grid_show_weight -%}
      <div class="product-block__weight">
        <div class="product-block__weight-value">
          {%- if product.variants.first.weight > 0 -%}
            {%- assign a_weight = product.variants.first.weight -%}
            {%- for variant in product.variants -%}
              {%- if variant.weight != a_weight -%}
                {%- assign a_weight = false -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if a_weight -%}
              {{ product.variants.first.weight | weight_with_unit: product.variants.first.weight_unit }}
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}

    <div class="product-block__title-price">
      <a class="title" href="{{ url }}">
        {% if show_vendor %}
          <div class="vendor">{{ product.vendor }}</div>
        {% endif %}
        {{ product.title }}
      </a>

      {% if settings.prod_block_layout != "beside" %}
      <div class="themed-product-reviews">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      {% endif %}

      <div class="price {% if cheapest_variant.compare_at_price > cheapest_variant.price %}on-sale{% endif %}">
        {% if product.price_varies %}
         <span class="from">{{ 'products.general.from' | t }}</span>
        {% endif %}

        <span class="amount theme-money">{% render 'price', price: cheapest_variant.price %}</span>

        {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
          <del><span class="theme-money">{% render 'price', price: cheapest_variant.compare_at_price %}</span></del>
        {% endif %}

        {% render 'unit-price', variant: cheapest_variant %}
      </div>
    </div>

    {% if settings.prod_block_layout == "beside" %}
      <div class="themed-product-reviews themed-product-reviews--bottom">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}

    {% if show_quickbuy %}
      {% if product.variants.size > 1 %}
        <div class="product-form">
          <a class="quick-buy btn {% unless product.available %}disabled{% endunless %}" href="{{ url }}" data-product-id="{{ product.id }}">
            {% if product.available %}{{ 'products.grid.choose_options' | t }}{% else %}{{ 'products.product.unavailable' | t }}{% endif %}
          </a>
          {% render 'quick-buy-placeholder', product: product %}
        </div>
      {% else %}
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {%- if settings.cart_type contains 'drawer' -%}
          {%- assign enable_ajax = true -%}
        {%- else -%}
          {%- assign enable_ajax = false -%}
        {%- endif -%}

        {%- if settings.cart_type == 'drawer-dynamic' -%}
          {%- assign open_cart_drawer = true -%}
        {%- else -%}
          {%- assign open_cart_drawer = false -%}
        {%- endif -%}

        {% form 'product', product, class: 'product-form product-form--mini', data-ajax-add-to-cart: enable_ajax, data-open-cart-drawer: open_cart_drawer, data-product-id: product.id %}
          <input type="hidden" name="quantity" value="1" />
          <input type="hidden" name="id" value="{{ current_variant.id }}" />
          <button type="submit" name="add" class="btn product-add" {% unless product.available %}disabled="disabled"{% endunless %} aria-live="polite">
            <span class="button-text">{% if product.available %}{{ 'products.grid.add_to_cart' | t }}{% else %}{{ 'products.product.unavailable' | t }}{% endif %}</span>
            <span class="loading-spinner" aria-label="{{ 'products.product.adding_to_cart' | t }}"></span>
            <span class="added-to-cart-check" aria-label="{{ 'products.product.added_to_cart' | t }}"></span>
          </button>
        {% endform %}
        <div class="qty-adjuster-container">
          <div class="qty-adjuster qty-adjuster--ajax" {% if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'deny' %}data-limit="{{ current_variant.inventory_quantity }}"{% endif %}>
            <div class="qty-adjuster__inner">
              <button class="btn qty-adjuster__down" aria-label="{{ 'cart.label.decrease' | t | escape }}">{% render 'svg-minus' %}</button>
              <input class="qty-adjuster__value" type="text" pattern="[0-9]*" name="quantity" value="" aria-label="{{ 'cart.label.quantity' | t | escape }}">
              <button class="btn qty-adjuster__up" aria-label="{{ 'cart.label.increase' | t | escape }}">{% render 'svg-plus' %}</button>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
{% assign forloop_index = false %}
