{% layout none %}<!DOCTYPE html>
<html class="template-password no-js" lang="{{ request.locale.iso_code }}">
<head>
  {% render 'head-tag' %}
  <title>{{ shop.name | escape }}</title>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    theme.money_format = {{ shop.money_format | json }};
    theme.customerIsLoggedIn = {% if shop.customer_accounts_enabled and customer %}true{% else %}false{% endif %};
    theme.shippingCalcMoneyFormat = {{ shop.money_with_currency_format | json }};

    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      shippingCalcSubmitButton: {{ 'cart.shipping_calculator.submit' | t | json }},
      shippingCalcSubmitButtonDisabled: {{ 'cart.shipping_calculator.loading' | t | json }},
      infiniteScrollCollectionLoading: {{ 'collections.infinite_scroll.loading' | t | json }},
      infiniteScrollCollectionFinishedMsg : {{ 'collections.infinite_scroll.no_more' | t | json }},
      infiniteScrollBlogLoading: {{ 'blogs.infinite_scroll.loading' | t | json }},
      infiniteScrollBlogFinishedMsg : {{ 'blogs.infinite_scroll.no_more' | t | json }},
      blogsShowTags: {{ 'blogs.general.show_tags' | t | json }},
      priceNonExistent: {{ 'products.variant.non_existent' | t | json }},
      buttonDefault: {{ 'products.grid.add_to_cart' | t | json }},
      buttonNoStock: {{ 'products.variant.out_of_stock' | t | json }},
      buttonNoVariant: {{ 'products.variant.non_existent' | t | json }},
      unitPriceSeparator: {{ 'products.product.unit_price_separator' | t | json }},
      onlyXLeft: {{ 'products.labels.only_x_left' | t: quantity: "[[ quantity ]]" | json }},
      productAddingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      productAddedToCart: {{ 'products.product.added_to_cart_btn' | t | json }},
      quickbuyAdded: {{ 'products.general.quick_buy_added' | t | json }},
      cartSummary: {{ 'layout.cart_summary.cart' | t | json }},
      cartContinue: {{ 'cart.general.continue' | t | json }},
      colorBoxPrevious: {{ 'products.gallery.previous' | t | json }},
      colorBoxNext: {{ 'products.gallery.next' | t | json }},
      colorBoxClose: {{ 'products.gallery.close' | t | json }},
      imageSlider: {{ 'general.slider.images' | t | json }},
      confirmEmptyCart: {{ 'layout.cart_summary.confirm_empty_cart' | t | json }},
      inYourCart: {{ 'products.grid.item_is_in_cart' | t | json }},
      removeFromCart: {{ 'products.grid.remove_from_cart' | t | json }},
      clearAll: {{ 'collections.filtering.clear_all' | t | json }},
      layout_live_search_see_all: {{ 'layout.live_search.see_all' | t | json }},
      general_quick_search_pages: {{ 'general.quick_search.pages' | t | json }},
      general_quick_search_no_results: {{ 'general.quick_search.no_results' | t | json }},
      products_labels_sold_out: {{ 'products.labels.sold_out' | t | json }},
      products_labels_sale: {{ 'products.labels.sale' | t | json }},
      maximumQuantity: {{ 'cart.general.quantity_too_high' | t: quantity: "[quantity]" | json }},
      fullDetails: {{ 'products.general.full_details' | t | json }},
      cartConfirmRemove: {{ 'cart.general.confirm_remove' | t | json }}
    };

    theme.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };

    theme.scripts = {
      masonry: {{ 'masonry.v3.2.2.min.js' | asset_url | json }},
      jqueryInfiniteScroll: {{ 'jquery.infinitescroll.2.1.0.min.js' | asset_url | json }},
      underscore: {{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' | json }},
      shopifyCommon: {{ 'shopify_common.js' | shopify_asset_url | json }},
      jqueryCart: {{ 'shipping-calculator.v1.0.min.js' | asset_url | json }}
    };

    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      openCartDrawerOnMob: {{ settings.open_drawer_on_mobile | json }}
    }
  </script>

  {{ content_for_header }}

  <script>
    Shopify.money_format = {{ shop.money_format | json }};
  </script>
</head>
<body class="template-password">

  <div id="page-wrap">
    <div id="page-wrap-inner">
      <div id="page-wrap-content">
        <main id="content">
          {{ content_for_layout }}
        </main>
      </div>
    </div>
  </div>

  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

  <script>
    $(document).on('initPasswordLogin shopify:section:load', function(){
      $('#password-login-container').hide();
      var $link = $('.password-login-link a').colorbox({
        inline:true, fixed:true, returnFocus:false, margin:0, close: theme.strings.close,
        onOpen: function(){
          $('body').css({overflow:'hidden'});
        },
        onCleanup: function(){
          $('body').css({overflow:'auto'});
        }
      });
      if($('#password-login .errors').length) {
        $link.click();
      }
    }).trigger('initPasswordLogin');
  </script>

  {% render 'body-end-tag' %}
</body>
</html>
