{%- liquid
  assign is_featured_product = true
  assign product = all_products[section.settings.product]
-%}

{%- liquid
  assign show_single_variant_details = true
  assign current_variant = product.selected_or_first_available_variant
  assign featured_image = current_variant.featured_media.preview_image | default: product.featured_media.preview_image
-%}

<div class="section container product-container product-container--{{ section.settings.page_width }} {% if is_featured_product %}border-top featured-product-section{% endif %}"
     data-section-type="product-template" data-components="accordion">

  {% if collection and is_featured_product == false %}
    <div class="inline-row product-collection-links" data-cc-animate>
      {% if collection %}
        <div class="next-prev inline-item left links-row desktop">
        <span class="back-link">
          <span>{{ 'products.product.back_to' | t }}</span>
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="standard-link">{{ collection.title }}</a>
        </span>
        </div>

        <div class="inline-item right last desktop">
          {% if collection.previous_product %}
            <a class="standard-link" href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
            {% if collection.next_product %} <span class="divider">/</span> {% endif %}
          {% endif %}

          {% if collection.next_product %}
            <a class="standard-link" href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if product != blank %}
    <div class="row product-container">
      {%- assign animate = true -%}

      {%- render 'media-gallery', product: product, animate: animate -%}

      {%- liquid
        if settings.cart_type contains 'drawer'
          assign enable_ajax = true
        else
          assign enable_ajax = false
        endif

        if settings.prod_quantity_controls == "realtime" and enable_ajax
          assign use_ajax_quantities = true
        else
          assign use_ajax_quantities = false
        endif

        if use_ajax_quantities
          assign form_class = "product-form product-form--mini product-form--not-quickbuy half column"
        else
          assign form_class = "product-form half column"
        endif

        if settings.cart_type == 'drawer-dynamic'
          assign open_cart_drawer = true
        else
          assign open_cart_drawer = false
        endif
      -%}

      {% form 'product', product, class: form_class, data-ajax-add-to-cart: enable_ajax, data-product-id: product.id, data-enable-history-state: true, data-open-cart-drawer: open_cart_drawer %}
        <!-- begin product form and details -->
        <div class="product-details" data-cc-animate data-cc-animate-delay="0.5s">
          {%- liquid
            assign is_variant_picker = false
            for block in section.blocks
              if block.type == "variant_picker"
                assign is_variant_picker = true
                break
              endif
            endfor
          -%}

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}

            {%- when 'vendor_and_type' -%}
              {% if block.settings.prod_show_brand or block.settings.prod_show_type %}
                  <div class="brand-and-type feature-col product-detail__gap-sm" {{ block.shopify_attributes }}>
                    {% if block.settings.prod_show_brand %}
                      {%- comment -%}
                      Do we have a collection that has the same name as our product vendor name?
                      If we do, let's have the vendor link point to it.
                      If not, we will point to the automatic vendor collection.
                      {%- endcomment -%}
                      {%- liquid
                        assign product_vendor_handle = product.vendor | handle
                        if collections[product_vendor_handle].handle == product_vendor_handle
                          assign vendor_url = collections[product_vendor_handle].url
                        else
                          assign vendor_url = product.vendor | url_for_vendor
                        endif
                      -%}
                      <span class="brand">{{ product.vendor | link_to: vendor_url }}</span>
                    {% endif %}

                    {% if block.settings.prod_show_type and product.type != blank %}
                      {% if block.settings.prod_show_brand %}/{% endif %}

                      {%- assign product_type_handle = product.type | handle -%}
                      {%- if collections[product_type_handle].handle == product_type_handle -%}
                        {%- assign type_url = collections[product_type_handle].url -%}
                      {%- else -%}
                        {%- assign type_url = product.type | url_for_type -%}
                      {%- endif -%}
                      <span class="type">{{ product.type | link_to: type_url }}</span>
                    {% endif %}
                  </div>
                {% endif %}

            {%- when 'title' -%}
              {%- liquid
                assign heading_tag = "h2"
                if block.settings.heading_h1
                  assign heading_tag = "h1"
                endif
              -%}
              <{{ heading_tag }} class="product-title product-detail__gap-sm" {{ block.shopify_attributes }}>
                {{ product.title }}
              </{{ heading_tag }}>

            {%- when 'weight' -%}
              {% if current_variant.weight != blank and current_variant.weight > 0 %}
                <div class="product-weight product-detail__gap-sm {% if current_variant.weight == blank or current_variant.weight <= 0 %}product-weight--no-weight{% endif %}" {{ block.shopify_attributes }}>
                  <span class="product-weight__value">{% if current_variant.weight != blank and current_variant.weight > 0 %}{{ current_variant.weight | weight_with_unit: current_variant.weight_unit }}{% endif %}</span>
                </div>
              {% endif %}

            {%- when 'price' -%}
              <div id="price"
                   class="product-price product-detail__gap-sm {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}" {{ block.shopify_attributes }}>
                <span class="current-price theme-money">{% render 'price', price: current_variant.price %}</span>
                {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="was-price theme-money">{% render 'price', price: current_variant.compare_at_price %}</span>
                {% endif %}

                {% render 'unit-price', variant: current_variant %}
              </div>

              {{ form | payment_terms }}

              {%- if block.settings.show_tax_and_shipping -%}
                {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product-policies product-detail__gap-sm rte" {{ block.shopify_attributes }}>
                    {%- if cart.taxes_included -%}
                      {{ 'products.general.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endif -%}

            {%- when 'sku' -%}
              {% if current_variant.sku %}
                <div class="sku product-detail__gap-sm {% if current_variant.sku == blank %}sku--no-sku{% endif %}" {{ block.shopify_attributes }}>
                  {{ 'products.product.sku' | t }} <span class="sku__value">{{ current_variant.sku }}</span>
                </div>
              {% endif %}

            {%- when 'description' -%}
              {% if product.description != blank %}
                {% if block.settings.display == "tab_open" or block.settings.display == "tab_closed" %}
                  {%- liquid
                    assign description_title = 'products.product.description' | t
                    assign description_is_open = false
                    if block.settings.display == "tab_open"
                      assign description_is_open = true
                    endif
                  -%}

                  <div class="product-detail-accordion" data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}">
                    {% render 'accordion', allow_multi_open: true, add_content_class: 'rte', first_item_open: description_is_open, item1_title: description_title, item1_content: product.description %}
                  </div>
                {% else %}
                  <div class="product-description rte product-detail__gap-lg"
                       data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}>{{ product.description }}</div>
                {% endif %}
              {% endif %}

            {%- when 'variant_picker' -%}
              {% if product.variants.size > 1 %}
                <div class="option-selectors product-detail__gap-lg"
                     data-box-options="{{ block.settings.prod_clicky_opt_names | escape }}" {{ block.shopify_attributes }}>
                  {% for option in product.options_with_values %}
                    <div class="selector-wrapper cf">
                      {% if block.settings.show_size_chart and option.name == block.settings.size_chart_variant and block.settings.size_chart_page != blank %}
                        <div class="opposing-items">
                          <label class="left" for="option-{{ option.name | handle }}">{{ option.name }}</label>
                          <span class="size-chart-container">
                            <a href="#size-chart-content" class="size-chart-link">
                              {{ 'products.product.size_chart' | t }}
                              {% render 'svg-chevron-right' %}
                            </a>
                            <div id="size-chart-content" class="hidden">
                              <div class="size-chart">
                                <div class="size-chart__inner rte">
                                  {{ pages[block.settings.size_chart_page].content }}
                                </div>
                              </div>
                            </div>
                          </span>
                        </div>
                      {% else %}
                        <label {% if option.name == 'default' %}class="hidden"{% endif %}
                               for="option-{{ option.name | handle }}">{{ option.name }}</label>
                      {% endif %}

                      <select id="option-{{ option.name | handle }}">
                        {% for value in option.values %}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  {% endfor %}
                </div>

              {% else %}
                {% unless show_single_variant_details == false or product.has_only_default_variant %}
                  {%- assign opt_idx = '' -%}
                  {%- capture option_list -%}
                    {%- for option in product.options -%}
                      {%- if option != 'Title' -%}
                        {%- assign opt_idx = 'option' | append: forloop.index -%}
                        <div class="product-detail__gap-xsm">
                          {% if block.settings.show_size_chart and option == block.settings.size_chart_variant and block.settings.size_chart_page != blank %}
                            <div class="opposing-items">
                              <label class="left" for="option-{{ option | handle }}">{{ option }}</label>
                              <span class="size-chart-container">
                                <a href="#size-chart-content" class="size-chart-link">
                                  {{ 'products.product.size_chart' | t }}
                                  {% render 'svg-chevron-right' %}
                                </a>
                                <div id="size-chart-content" class="hidden">
                                  <div class="size-chart">
                                    <div class="size-chart__inner rte">
                                      {{ pages[block.settings.size_chart_page].content }}
                                    </div>
                                  </div>
                                </div>
                              </span>
                            </div>
                            <div>{{ product.variants.first[opt_idx] }}</div>
                          {% else %}
                            <label>{{ option }}:</label> {{ product.variants.first[opt_idx] }}
                          {% endif %}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endcapture -%}
                  {%- if opt_idx != blank -%}
                    <div class="selector-wrapper single-option" {{ block.shopify_attributes }}>{{ option_list }}</div>
                  {%- endif -%}
                {% endunless %}
              {% endif %}

              <select name="id" class="original-selector{% if product.variants.size == 1 %} hidden{% endif %}"
                      aria-label="{{ 'products.product.selector_label' | t | escape }}">
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}"
                          {% if variant == current_variant %} selected="selected"{% endif %}
                          data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}"
                          {% if block.settings.stock_warning_show and variant.inventory_management == 'shopify' and variant.inventory_quantity > 0 %}
                            {% if block.settings.stock_warning_limit == 0 or variant.inventory_quantity <= block.settings.stock_warning_limit %}
                              data-inventory="{{ variant.inventory_quantity }}"
                            {% endif %}
                          {% endif %}
                    {% if variant.weight != blank and variant.weight > 0 %}data-weight="{{ variant.weight | weight_with_unit: variant.weight_unit }}"{% endif %}>
                    {{- variant.title | escape -}}
                  </option>
                {% endfor %}
              </select>

              {% if product.available and block.settings.stock_warning_show %}
                {%- if current_variant.inventory_management == 'shopify' and current_variant.inventory_quantity > 0 -%}
                  {% if block.settings.stock_warning_limit == 0 or variant.inventory_quantity <= block.settings.stock_warning_limit %}
                    <div class="product-inventory-notice product-detail__gap-sm">
                      {{- 'products.labels.only_x_left' | t: quantity: current_variant.inventory_quantity -}}
                    </div>
                  {%- else -%}
                    <div class="product-inventory-notice product-inventory-notice--no-inventory product-detail__gap-sm"></div>
                  {%- endif -%}
                {%- else -%}
                  <div class="product-inventory-notice product-inventory-notice--no-inventory product-detail__gap-sm"></div>
                {%- endif -%}
              {% endif %}

            {%- when 'buy_buttons' -%}
              {% if product.available %}
                {% if is_variant_picker == false %}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {% endif %}
                <div class="payment-and-quantity
                        product-detail__gap-lg
                        payment-and-quantity--buttons-active
                        {% if settings.prod_quantity_controls != "none" %}payment-and-quantity--with-quantity{% endif %}
                         {{ block.shopify_attributes }}
                        ">

                  {% if settings.prod_quantity_controls != "none" %}
                    <div class="quantity">
                      <div class="qty-adjuster {% if use_ajax_quantities %}qty-adjuster--ajax{% endif %}"
                           data-limit="{% if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'deny' %}{{ current_variant.inventory_quantity }}{% endif %}">
                        <div class="qty-adjuster__inner">
                          <button class="qty-adjuster__down" disabled
                                  aria-label="{{ 'cart.label.decrease' | t | escape }}">{% render 'svg-minus' %}</button>
                          <input class="qty-adjuster__value" type="text" pattern="[0-9]*" id="quantity" name="quantity"
                                 value="1" aria-label="{{ 'cart.label.quantity' | t | escape }}">
                          <button class="qty-adjuster__up"
                                  aria-label="{{ 'cart.label.increase' | t | escape }}">{% render 'svg-plus' %}</button>
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <input type="hidden" name="quantity" value="1"/>
                  {% endif %}

                  <span class="payment-and-quantity__add">
                          <button type="submit" name="add"
                                  class="btn product-add mini-form {% if block.settings.enable_payment_button and product.selling_plan_groups == empty %}alt outline{% endif %}">
                            <span class="button-text">{% if product.available %}{{ 'products.grid.add_to_cart' | t }}{% else %}{{ 'products.product.unavailable' | t }}{% endif %}</span>
                            <span class="loading-spinner" aria-label="{{ 'products.product.adding_to_cart' | t }}"></span>
                          </button>
                        </span>

                  {% if block.settings.enable_payment_button and product.selling_plan_groups == empty %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              {% else %}
                <div class="rte product-detail__gap-lg" {{ block.shopify_attributes }}>
                  {{ 'products.product.product_unavailable_html' | t }}
                </div>
              {% endif %}

              {% unless block.settings.show_pickup_availability == false %}
                {% render 'store-availability', product: product, current_variant: current_variant %}
              {% endunless %}

              {% if product.available and block.settings.show_backorder_text == true %}
                {% render 'backorder', product: product, variant: current_variant %}
              {% endif %}

            {%- when 'social' -%}
              {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}

            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div class="product-detail__gap-sm rte product-area__rte"
                     data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- endif -%}

            {%- when 'link' -%}
              {%- if block.settings.text != blank -%}
                <div class="product-detail__gap-sm {% if block.settings.text_style == "link" %}rte{% endif %}"
                     data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}>
                  <a href="{{ block.settings.url }}"
                     {% if block.settings.open_new_window %}target="_blank"{% endif %}
                     class="product-area__link {% if block.settings.text_style == "button_primary" %}btn{% elsif block.settings.text_style == "button_secondary" %}btn alt{% endif %}">
                    {{ block.settings.text }}
                  </a>
                </div>
              {%- endif -%}

            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div class="product-detail__gap-sm inline-width-container"
                     data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}"
                     style="max-width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
                {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                    {% render 'responsive-image', image: block.settings.image %}
                    {% if block.settings.url != blank %}</a>{% endif %}
                </div>
              {% endif %}

            {% when 'custom_liquid' %}
              {% if block.settings.custom_liquid %}
                <div class="product-detail__gap-sm"
                     data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
              {% endif %}

            {% when 'accordion' %}
              {%- liquid
                assign content = block.settings.content
                if block.settings.page != blank
                  assign content = pages[block.settings.page].content
                endif
              -%}
              {%- if content != blank -%}
                <div class="product-detail-accordion" data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}>
                  {% render 'accordion', allow_multi_open: true, add_content_class: 'rte', first_item_open: block.settings.open, item1_title: block.settings.title, item1_content: content %}
                </div>
              {%- endif -%}

            {%- when 'divider' -%}
              <hr class="divider__line-{{ block.settings.show_line }} divider__gap-above-{{ block.settings.spacing_above }} divider__gap-below-{{ block.settings.spacing_below }}"
                  data-show-in-quickbuy="{{ block.settings.show_in_quickbuy }}" {{ block.shopify_attributes }}/>

            {%- endcase -%}
          {%- endfor -%}

          {% if is_featured_product %}
            <div class="more-link-row product-detail__gap-sm">
              <a class="more-link" href="{{ product.url }}">{{ 'products.general.full_details' | t }}</a>
            </div>
          {% endif %}
        </div>
      <!-- end product form and details -->
      {% endform %}
    </div>

    <script type="application/json" id="ccProductJson-{{ product.id }}">
      {{ product | json }}
    </script>

  {% else %}
    <div class="row product-container">
      <div class="product-gallery half column">
        <div class="main">
          <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag }}</div>
        </div>
        {% if section.settings.prod_show_thumbnails %}
          <div class="thumbnails slick-slider--indented-side-icons">
            <span class="thumbnail">
              <div class="placeholder-image">{{ 'product-2' | placeholder_svg_tag }}</div>
            </span>
            <span class="thumbnail">
              <div class="placeholder-image">{{ 'product-3' | placeholder_svg_tag }}</div>
            </span>
            <span class="thumbnail">
              <div class="placeholder-image">{{ 'product-4' | placeholder_svg_tag }}</div>
            </span>
          </div>
        {% endif %}
      </div>

      <div class="product-form product-form--placeholder half column">
        <div class="product-details">
          <div class="brand-and-type feature-col product-detail__gap-sm">
            <span class="brand">{{ 'homepage.onboarding.product_vendor' | t | link_to: '#' }}</span>
            /
            <span class="type">{{ 'homepage.onboarding.product_type' | t | link_to: '#' }}</span>
          </div>

          <h2 class="product-title product-detail__gap-sm">{{ 'homepage.onboarding.product_title' | t }}</h2>

          <div id="price" class="product-price product-detail__gap-sm">
            <span class="current-price theme-money">{% render 'price', price: 2999 %}</span>
            <span class="was-price theme-money">{% render 'price', price: 1999 %}</span>
          </div>

          <div class="payment-and-quantity product-detail__gap-lg payment-and-quantity--buttons-active payment-and-quantity--with-quantity">
            <div class="quantity">
              <div class="qty-adjuster">
                <div class="qty-adjuster__inner">
                  <button class="qty-adjuster__down"
                          aria-label="{{ 'cart.label.decrease' | t | escape }}">{% render 'svg-minus' %}</button>
                  <input class="qty-adjuster__value" type="text" pattern="[0-9]*" id="quantity-{{ section.id }}"
                         name="quantity" value="1" aria-label="{{ 'cart.label.quantity' | t | escape }}">
                  <button class="qty-adjuster__up"
                          aria-label="{{ 'cart.label.increase' | t | escape }}">{% render 'svg-plus' %}</button>
                </div>
              </div>
            </div>
            <span class="payment-and-quantity__add">
              <button type="submit" name="add"
                      class="btn product-add {% if section.settings.enable_payment_button and product.selling_plan_groups == empty %}alt outline{% endif %}">
                <span class="button-text">{% if product.available %}{{ 'products.grid.add_to_cart' | t }}{% else %}{{ 'products.product.unavailable' | t }}{% endif %}</span>
                <span class="loading-spinner" aria-label="{{ 'products.product.adding_to_cart' | t }}"></span>
                <span class="added-to-cart-check" aria-label="{{ 'products.product.added_to_cart' | t }}"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if is_featured_product == false  %}
    {% if section.settings.description_below %}
      <div class="rte section reading-column product-description-below" data-cc-animate data-cc-animate-delay="0.2s">{{ product.description | replace: 'fullwidth"', '" data-fullwidth="true"' }}</div>
    {% endif %}

    {% if collection %}
      <div class="links-row mobile-flex section border-top product-mob-collection-links" data-cc-animate>
        <a class="back-link" href="{{ collection.url }}" title="{{ collection.title | escape }}">
          {% render 'svg-chevron-left' %} <span class="beside-svg standard-link">{{ collection.title }}</span>
        </a>

        <div>
          {% if collection.previous_product %}
            <a class="standard-link" href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
            {% if collection.next_product %} <span class="divider">/</span> {% endif %}
          {% endif %}

          {% if collection.next_product %}
            <a class="standard-link" href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% render 'structured-data-product', product: product, current_variant: current_variant %}
</div>



{% schema %}
  {
    "name": "Featured product",
    "blocks": [
      {
         "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "weight",
        "name": "Weight",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tax_and_shipping",
            "label": "Show tax status and shipping policy link",
            "default": false
          }
        ]
      },
      {
        "type": "vendor_and_type",
        "name": "Vendor/type",
        "settings": [
          {
            "type": "checkbox",
            "id": "prod_show_brand",
            "label": "Show vendor",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "prod_show_type",
            "label": "Show product type",
            "default": true
          }
        ]
      },
      {
        "type": "sku",
        "name": "SKU",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "display",
            "default": "standard",
            "label": "Display style",
            "options": [
              {
                "value": "standard",
                "label": "Standard"
              },
              {
                "value": "tab_open",
                "label": "Open tab"
              },
              {
                "value": "tab_closed",
                "label": "Closed tab"
              }
            ]
          }
        ]
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "prod_clicky_opt_names",
            "label": "Options to show as boxes",
            "info": "Separate with commas, no spaces. E.g. Size,Color"
          },
          {
            "type": "checkbox",
            "id": "stock_warning_show",
            "label": "Show inventory notice",
            "default": false
          },
          {
            "type": "range",
            "id": "stock_warning_limit",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Low inventory limit",
            "default": 5,
            "info": "Show inventory quantities below this threshold. Choose 0 to always show the quantity in stock."
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "Buy buttons/quantity",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "label": "Show pickup availability",
            "default": true,
            "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
          },
          {
            "type": "checkbox",
            "id": "show_backorder_text",
            "label": "Show backorder text",
            "default": true,
            "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
          }
        ]
      },
      {
        "type": "social",
        "name": "Social sharing links",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "رابط",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          },
          {
            "type": "select",
            "id": "text_style",
            "default": "link",
            "label": "Style",
            "options": [
              {
                "value": "link",
                "label": "Link"
              },
              {
                "value": "button_primary",
                "label": "Primary button"
              },
              {
                "value": "button_secondary",
                "label": "Secondary button"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "open_new_window",
            "label": "Open in a new window",
            "default": false
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 700
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          }
        ]
      }, {
        "type": "accordion",
        "name": "Collapsible tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "عنوان التبويب"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Tab content",
            "default": "<p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Tab content from page"
          },
          {
            "type": "checkbox",
            "id": "open",
            "label": "Open",
            "default": false
          }
        ]
      },
      {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_line",
            "label": "Show line",
            "default": true,
            "info": "Turn this off to making this just a spacing element"
          },
          {
            "type": "select",
            "id": "spacing_above",
            "default": "small",
            "label": "Spacing above",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          },
          {
            "type": "select",
            "id": "spacing_below",
            "default": "small",
            "label": "Spacing below",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "medium",
                "label": "Medium"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "page_width",
        "default": "medium",
        "label": "Section width",
        "options": [
          {
            "value": "narrow",
            "label": "Narrow"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "checkbox",
        "id": "prod_show_thumbnails",
        "label": "Show thumbnails",
		    "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": {
          "en": "Enable video looping"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_product_image_zoom",
        "label": "Enable hover zoom",
        "default": true
      }
	  ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product",
        "settings": {
        },
        "blocks": [
          {
            "type": "vendor_and_type"
          },
          {
            "type": "title"
          },
          {
            "type": "price"
          },
          {
            "type": "variant_picker"
          },
          {
            "type": "buy_buttons"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product", "collection", "blog", "list-collections", "search", "404"]
  }
{% endschema %}
