<div class="section container" data-section-type="search-template">
  {% if search.performed and search.terms != "" %}
    {% paginate search.results by section.settings.pagination_limit_int %}

      {% liquid
        assign searchTerms = search.terms
        assign searchTermsSplit = search.terms |  split: "*"
        if searchTermsSplit[0] contains "product_type"
          assign searchTerms = searchTerms | replace : searchTermsSplit[0], ""
          assign searchTerms = searchTerms | remove_first : "*"
        endif
      %}

      {% if search.results == empty %}

        <div class="section padless-top align-center" data-cc-animate data-cc-animate-delay="0.2s">
          {% if section.settings.show_page_title %}<h1 class="page-title">{{ 'general.search.no_results_title' | t }}</h1>{% endif %}
          <div class="subtext lightly-spaced-row">{{ 'general.search.no_results' | t: terms: searchTerms }}</div>

          <form action="{{ routes.search_url }}">
            <div class="inline-input-button">
              <input type="hidden" name="type" value="{{ settings.search_type }}" />
              <input type="hidden" name="options[prefix]" value="last" />
              <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ searchTerms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
              <button type="submit">{{ 'general.search.search_button' | t }}</button>
            </div>
          </form>
        </div>

      {% else %}

        <div class="align-center spaced-row" data-cc-animate data-cc-animate-delay="0.2s">
          {% if section.settings.show_page_title %}<h1 class="page-title">{{ 'general.search.results_title' | t }}</h1>{% endif %}

          {% if section.settings.show_search_box %}
            <form class="inline-input-button lightly-spaced-row" action="{{ routes.search_url }}">
              <input type="hidden" name="type" value="{{ settings.search_type }}" />
              <input type="hidden" name="options[prefix]" value="last" />
              <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ searchTerms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
              <button type="submit">{{ 'general.search.search_button' | t }}</button>
            </form>
          {% endif %}

          <p class="no-results">{{ 'general.search.results_with_count' | t: count: search.results_count }}</p>
        </div>

        <!-- Begin results -->
        <div class="product-grid row grid" data-normheights=".image" data-normheights-inner="img" data-cc-animate data-cc-animate-delay="0.4s">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% render 'product-block', product: item, max_cols: section.settings.products_per_row %}
            {% else %}

            <div class="product-block page-block flex column max-cols-{{ section.settings.products_per_row }} min-cols-2 product-block--gutter-{{ settings.prod_thumb_gutter }} product-block--gap-{{ settings.prod_thumb_gap }} product-block--border-{{ settings.prod_thumb_show_border }}">
              <div class="product-block__inner">
                <div class="text-cont">
                  {% if item.object_type == 'article' and item.image %}
                  <div class="article-image">{% render 'responsive-image', image: item.image %}</div>
                  {% endif %}
                  <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
                  <div><a href="{{ item.url }}">{{ item.content | strip_html | truncatewords: 25 | highlight: searchTerms }}</a></div>
                  <a class="more-link" href="{{ item.url }}">{{ 'general.search.read_more' | t }}</a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}

          {%- for i in (1..section.settings.products_per_row) -%}
            <div class="product-block product-block--flex-spacer flex column max-cols-{{ section.settings.products_per_row }} min-cols-2"></div>
          {%- endfor -%}
        </div>
        <!-- End results -->

        {% if paginate.pages > 1 %}
        </div>
        <div class="border-top" data-cc-animate data-cc-animate-delay="0.2s">
          <div class="container">
            <div class="inline-row cf">
              <span class="inline-item left pagination">{{ 'collections.general.results' | t: count: paginate.items }}</span>
              <div class="inline-item right last">{% render 'pagination', paginate: paginate %}</div>
            </div>
          </div>
        {% endif %}

      {% endif %}

    {% endpaginate %}

  {% else %}

  <div class="section padless-top align-centre" data-cc-animate data-cc-animate-delay="0.2s">
    {% if section.settings.show_page_title %}<h1 class="page-title">{{ 'general.search.page_title' | t }}</h1>{% endif %}

    {% if section.settings.show_search_box %}
      <form action="{{ routes.search_url }}">
        <div class="inline-input-button">
          <input type="hidden" name="type" value="{{ settings.search_type }}" />
          <input type="hidden" name="options[prefix]" value="last" />
          <input type="text" name="q" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ searchTerms | escape }}" aria-label="{{ 'general.search.search_label' | t | escape }}" />
          <button type="submit">{{ 'general.search.search_button' | t }}</button>
        </div>
      </form>
    {% endif %}
  </div>

  {% endif %}
</div>


{% schema %}
  {
    "name": "Search results",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_page_title",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_search_box",
        "label": "Show search box",
        "info": "If your navigation has a search bar, you may want to hide this one.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "grid_show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Maximum products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "pagination_limit_int",
        "min": 12,
        "max": 50,
        "step": 1,
        "label": "Number of products per page",
        "default": 36
      }
	]
  }
{% endschema %}
