{% assign display_map = false %}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {% assign display_map = true %}
{%- endif -%}

{% assign brightness = section.settings.color_bg | color_brightness %}
{% assign alpha = section.settings.color_bg | color_extract: 'alpha' %}
<style>
  .section-id-{{ section.id }} .map-section__wrapper {
    background: {{ section.settings.color_bg }};
  }
  {% if section.settings.color_bg != blank and section.settings.color_bg != "rgba(0,0,0,0)" and brightness < 190 and alpha %}
  .section-id-{{ section.id }},
  .section-id-{{ section.id }} h2,
  .section-id-{{ section.id }} a {
    color: #fff;
  }
  {% endif %}

  {% unless section.settings.image == blank %}
    @media screen and (max-width: 749px) {
      .map-section__image--{{ section.id }} {
        padding-top: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;
      }
    }
  {% endunless %}
</style>

<section class="section-id-{{ section.id }} border-top section map-section{% if display_map %} map-section--display-map{% endif %}" data-section-type="map" data-api-key="{{ section.settings.api_key }}" data-map-style="{{ section.settings.map_style }}">
  <div class="container">
    <div class="map-section__wrapper">
      <div class="map-section__content map-section__map" data-cc-animate>
        {% if section.settings.image %}
          {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <div class="map-section__image map-section__image--{{ section.id }} supports-js"
               data-lazy-bg="{{ img_url }}">
          </div>
          <noscript>
            <div class="map-section__image  map-section__image--{{ section.id }}" style="background-image: url({{ section.settings.image | img_url: '400x400'}});"></div>
          </noscript>
        {% else %}
          <div class="map-section__placeholder placeholder-image">
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% endif %}
        {% if display_map %}
          <div class="map-section__map-container"
              id="Map-{{ section.id }}"
              data-address-setting="{{ section.settings.map_address | escape }}">
          </div>
        {% endif %}
      </div>

      <div class="map-section__content map-section__text" data-cc-animate data-cc-animate-delay="0.2s">
        {% if section.settings.heading != blank %}
          <h2 class="h1">{{ section.settings.heading | escape }}</h2>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte">{{ section.settings.address }}</div>
        {% endif %}
        {% if section.settings.button != blank and section.settings.map_address != blank %}
          <div>
            <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" target="_blank" class="btn">
              {% if section.settings.show_pin %}
                <span class="icon icon--large">{% render 'svg-pin' %}</span>
              {% endif %}
              <span>{{ section.settings.button | escape }}</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Map",
    "class": "index-section",
    "settings": [
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#f4f4f4"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "قم بزيارتنا"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address and hours",
        "default": "<p>رقم 45 طابق 1.<br>الشارع، المدينة</p><p>الإثنين - الجمعة، 9 صباحا - 5 بعد الزوال<br>السبت، 11 صباحا - 3 بعد الزوال<br>الأحد، 11 صباحا - 3 بعد الزوال</p>"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Map link label",
        "default": "توجيهات"
      },
      {
        "id": "show_pin",
        "type": "checkbox",
        "label": "Show pin",
        "default": true
      },
      {
        "type": "header",
        "content": "Map"
      },
      {
        "id": "map_address",
        "type": "text",
        "label": "Map address",
        "info": "Google Maps will find the exact location",
        "default": "Al Burj St"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      },
      {
        "type": "select",
        "id": "map_style",
        "label": "Style",
        "default": "default",
        "options": [
          {
            "label": "Default",
            "value": "default"
          },
          {
            "label": "Silver",
            "value": "silver"
          },
          {
            "label": "Retro",
            "value": "retro"
          },
          {
            "label": "Dark",
            "value": "dark"
          },
          {
            "label": "Night",
            "value": "night"
          },
          {
            "label": "Aubergine",
            "value": "aubergine"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "To display if there is no map key"
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store information"
      }
    ]
  }
{% endschema %}
